
body {
    margin: 10px;
    background-color: #A9A9A9; 
}

.container1 {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    text-align: center;
}

.text-center {
    font-size: 2em;
    font-style: bold;
}