

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSW Peinture</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/accueil.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<div id="header-wrapper">
	<div id="header" class="container-header">
		<div id="menu">
			<ul>
				<li><a class="cool-link" href="#welcome" accesskey="1" title="">Devis en ligne</a></li>
				<li><a class="cool-link" href="#portfolio" accesskey="2" title="">Projets</a></li>
				<li><a class="cool-link" href="#contact" accesskey="4" title="">Me contacter</a></li>
				<li><a class="cool-link" href="#" accesskey="3" title="">Informations</a></li>
			</ul>
		</div>
<section>
	<div>
		<h2>CSW Peinture - CSW Peinture - CSW Peinture - CSW Peinture - CSW Peinture - CSW Peinture - CSW Peinture</h2>
	</div>
	<div>
		<h2>CSW Peinture - CSW Peinture - CSW Peinture - CSW Peinture - CSW Peinture - CSW Peinture - CSW Peinture</h2>
	</div>
</section>
	</div>
</div>
<div id="wrapper1">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Bienvenue sur mon site</h2>
			<span class="byline">Colin Samuel-Weis - Peintre applicateur de revêtement</span> 
		</div>
		<div class="content">
			<p>Vous souhaitez réaliser des <strong>travaux de peinture</strong> et vous aimeriez avoir une estimation rapide du coût des travaux ? 
				vous êtes au bon endroit! Cliquez sur le lien suivant afin de réaliser votre <strong>estimation de devis en ligne</strong>. Très simple d'utilisation,
				il vous suffit de connaitre les surfaces des ouvrages que vous souhaitez réaliser, choisissez ensuite le type de prestation que vous souhaitez
				pour vos travaux, puis génerez votre devis. 
			</p>
			<a href="/devis/new" class="button">Créer mon estimation de devis en ligne</a>
		</div>
	</div>
</div>

<div id="wrapper3">
	<div id="portfolio" class="container">
		<div class="title">
			<h2>Design Portfolio</h2>
			<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
		<div class="pbox1">
			<div class="column1">
				<div class="box"> <span class="icon icon-comments"></span>
					<h3>Vestibulum venenatis</h3>
					<p>Fermentum nibh augue praesent a lacus at urna congue rutrum.</p>
				</div>
			</div>
			<div class="column2">
				<div class="box"> <span class="icon icon-cogs"></span>
					<h3>Praesent scelerisque</h3>
					<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
				</div>
			</div>
			<div class="column3">
				<div class="box"> <span class="icon icon-coffee"></span>
					<h3>Donec dictum metus</h3>
					<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
				</div>
			</div>
			<div class="column4">
				<div class="box"> <span class="icon icon-cloud"></span>
					<h3>Mauris vulputate dolor</h3>
					<p>Rutrum fermentum nibh in augue praesent urna congue rutrum.</p>
				</div>
			</div>
		</div>
		<div class="pbox2">
			<div class="column1">
				<div class="box"> <span class="icon icon-asterisk"></span>
					<h3>Rhoncus volutpat</h3>
					<p>Fermentum nibh augue praesent a lacus at urna congue rutrum.</p>
				</div>
			</div>
			<div class="column2">
				<div class="box"> <span class="icon icon-headphones"></span>
					<h3>Sed odio sagittis</h3>
					<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
				</div>
			</div>
			<div class="column3">
				<div class="box"> <span class="icon icon-user"></span>
					<h3>Aenean elementum</h3>
					<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
				</div>
			</div>
			<div class="column4">
				<div class="box"> <span class="icon icon-signal"></span>
					<h3>Etiam posuere augue</h3>
					<p>Rutrum fermentum nibh in augue praesent urna congue rutrum.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="contact" class="contenair1">
	<div class="box">
		<div class="imgBx">
			<img src="images/call.png">
		</div>
		<div class="content">
			<div class="icon">
				<img src="images/call.png">
			</div>
			<h3>Téléphone</h3>
			<h4>06 14 26 31 83</h4>
		</div>
	</div>
	<div class="box">
		<div class="imgBx">
			<img src="images/open-email.png">
		</div>
		<div class="content">
			<div class="icon">
				<img src="images/open-email.png">
			</div>
			<h3>Email</h3>
			<h4>colinsw@hotmail.fr</h4>
		</div>
	</div>
	<div class="box">
		<div class="imgBx">
			<img src="images/map.png">
		</div>
		<div class="content">
			<div class="icon">
				<img src="images/map.png">
			</div>
			<h3>Adresse</h3>
			<h4>Rue Saint Eloi 13480 Cabries</h4>
		</div>
	</div>
</div>

<div id="wrapper2">
	<div id="featured" class="container">
		<div class="box1">
			<h2><span class="icon icon-group"></span>Fusce ultrices fringilla</h2>
			<p>Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
		</div>
		<div class="box2">
			<h2><span class="icon icon-briefcase"></span>Etiam posuere augue</h2>
			<p>Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
		</div>
	</div>
</div>
<div id="copyright">
	<div class="title">
		<h2>Get in touch</h2>
		<a href="/admin/login" class="button">page administrateur</a></br>
		<span class="byline">Phasellus nec erat sit amet nibh pellentesque congue</span> </div>
	<p>&copy; Untitled. All rights reserved.  | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
